@font-face {
    font-family: "Game of Thrones";
    src: url('/fonts/Game\ of\ Thrones.ttf');
    font-weight: 900;
}

body {
    font-family: 'Game of Thrones', 'Times New Roman', Times, serif;
    margin: 0;
    display: flex;
}

.main-container {
    width: 79vw;
    min-height: 100vh;
    padding: 0.5vw;
    margin: 0;

    background-image: url('../../assets/site/mapblue.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 100% 24%;

    display: grid;
    grid-template-columns: repeat(8, 12.8% [col-start])
        /* 12.8% 12.8% 12.8% 12.8% 12.8% 12.8% 12.8% 12.8% */
        /* 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; */
}


.heroes_names {
    font-size: .9vw;
    margin: 0 .9vw 0 .9vw;
}

.images {
    max-width: 6vw;
    margin: 0 3px 0 3px;
}




aside {
    width: 21vw;
    min-height: 100vh;

    background-color: rgb(57, 57, 58);
    color: rgb(243, 252, 255);
    /* display: flex;
    justify-content: center; */
}

.hero__Img {
    width: 20vw;
    margin: 3px;
    border-top: solid 0.02rem white;
}

.head-text {
    font-size: 1.2vw;
    margin: 10px;
    text-align: center;
}

.hero_name_and_arms {
    display: flex;
    justify-content: space-between;
}

.house_coat_of_arms__img {
    max-width: 2vw;
    margin: 0 0 0 3px;
    margin: 0.1vw 0.9vw 0 0;
}

.short_description {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1vw;
    margin: 0.9vw 0.9vw 0.9vw 0.9vw;
}

.hero_name {
    font-size: 1vw;
    float: right;
    margin: 0.3vw 0 0.1vw 0.9vw;
}

.search__div {
    position: fixed;
    bottom: 25px;
    right: 10px;

    display: flex;
    justify-content: center;
    margin-right: 10px;
    /* margin: 0 0.5rem 0.5rem 0.75rem; */
    /* float: right; */
}

.search__input {
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(57, 57, 58);
    border-left: none;
    border-radius: 0 4px 4px 0;

    width: 14vw;
    height: 5vh;
    padding: 0.375rem 0.75rem 0.375rem 0;
    font-size: 0.8rem;
}

.search__input::placeholder {
    font-size: 1.3vw;
}

.search__input:focus {
    border-color: rgb(80, 94, 105);
    transition: border 0.25s ease-out;
}

.search__btn {
    /* width: ; */
    height: 5vh;
    border: 2px solide rgb(57, 57, 58);
    border-right: none;
    background-color: rgb(255, 255, 255);
    border-radius: 4px 0 0 4px;
    /* padding: 0.375rem 0.75rem 0.375rem 0.75rem; */
    font-size: 3vh;
    transition: all 0.25s ease-out;
}

.search__btn:hover {
    cursor: pointer;
    background-color: rgb(235, 235, 235);
}


.divs {
    transition: transform 0.7s;
}

.divs:hover {
    transform: scale3d(1.2, 1.2, 1.2);
}